@import "tailwindcss";

body {
    color: #222;
*,
*::before,
*::after {
    font-family: "Poppins", sans-serif;
}

.app-container {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.login-card {
    width: 90%;
    max-width: 30vw;
    min-height: 30vw;
    background: rgb(255, 255, 255);
    padding: 2.5rem 2rem;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}