.login-card {
  width: 90%;
  max-width: 55vw;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}